<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="HTML,CSS,JavaScript,Noah,Bresler,NoahBresler,Programmning,frontend,student,florida,niceville">
	<meta name="author" content="Noah Bresler">
	<meta name="twitter:card" content="summary">
	<title>{{ site.title }}</title>
	<link rel="stylesheet" href="{{ page.stylesheet }}">
	{%- seo title=false -%}
	{%- feed_meta -%}
	{%- include google-analytics.html -%}
</head>