---
layout: default
---

<nav class="nav flex">
	<a href="https://noahbres.github.io" class="refer-home">Noah Bresler</a>
	<ul>
		<li><a href="#">About</a></li>
		<li><a href="#">Work</a></li>
		<li><a href="https://noahbres.github.io/blog">Blog</a></li>
		<li><a href="#">Contact</a></li>
	</ul>
</nav>

<div class="wrapper flex">
	<div class="header flex">
		<h1>{{ page.title | escape }}</h1>
		<h3>{%- assign date_format = "%b. %-d, %Y" -%}{{ page.date | date: date_format }}</h3>
	</div>
	<article class="flex">
		{{ content }}
	</article>
</div>